body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: bottom;
}

header {
  position: relative;
  height: 65px;
}

header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

header .header-top .header-left {
  width: 50%;
}

header .header-top .header-right {
  position: relative;
  width: 50%;
  background: #f1f7ef;
}

header .header-top .header-right a {
  position: absolute;
  top: 50%;
  left: 50px;
  color: #d9b65b;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .header-top .header-right #hamburger {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 20;
}

header .header-top .header-right #hamburger span {
  position: absolute;
  left: 0;
  width: 40px;
  height: 3px;
  background: #d4ab37;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-top .header-right #hamburger span:nth-of-type(1) {
  top: 0;
}

header .header-top .header-right #hamburger span:nth-of-type(2) {
  top: 15px;
}

header .header-top .header-right #hamburger p {
  display: inline-block;
  position: absolute;
  bottom: 0;
  font-size: .75rem;
  color: #d9b65b;
}

header .header-top .header-right #hamburger.rotate span:nth-of-type(1) {
  -webkit-transform: translateY(7.5px) rotate(45deg);
          transform: translateY(7.5px) rotate(45deg);
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-top .header-right #hamburger.rotate span:nth-of-type(2) {
  -webkit-transform: translateY(-7.5px) rotate(-45deg);
          transform: translateY(-7.5px) rotate(-45deg);
  -webkit-transition: .3s;
  transition: .3s;
}

header #modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

header #modal-window .black-window {
  width: 60%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

header #modal-window .white-window {
  position: relative;
  width: 40vw;
  height: 100%;
  background: #fff;
}

header #modal-window .white-window img {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 200px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

header #modal-window .white-window .hamburger-menu {
  position: absolute;
  top: 300px;
  left: 40px;
  width: calc(100% - 40px);
  height: 300px;
}

header #modal-window .white-window .hamburger-menu #hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
}

header #modal-window .white-window .hamburger-menu #hamburger-menu .menu-item {
  display: block;
  width: 50%;
}

header #modal-window .white-window .hamburger-menu #hamburger-menu .menu-item a {
  color: #588a63;
}

header #modal-window .white-window .reserve {
  position: absolute;
  bottom: 150px;
  left: 50%;
  padding: 15px;
  width: 240px;
  color: #588a63;
  border: 2px solid #588a63;
  -webkit-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
  opacity: 0;
}

header #modal-window .white-window .hours {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 240px;
  color: #588a63;
  -webkit-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
  opacity: 0;
}

header #modal-window.show {
  opacity: 1;
  pointer-events: auto;
}

header #modal-window.show .white-window img {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

header #modal-window.show .white-window .reserve, header #modal-window.show .white-window .hours {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 100px;
}

.wrapper #lessons {
  outline: 2px solid red;
}

.wrapper #lessons h2 {
  font-size: 2rem;
  color: #588a63;
}

.wrapper #lessons .menu {
  color: #588a63;
}

.wrapper #lessons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
}

@media (max-width: 1050px) {
  .wrapper #lessons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .wrapper #lessons ul {
    padding: 10px;
  }
}

.wrapper #lessons ul li {
  width: 450px;
  margin: 20px;
  border: 1px solid #588a63;
}

.wrapper #lessons ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper #lessons ul li a img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 600px) {
  .wrapper #lessons ul li a img {
    width: 35%;
  }
}

.wrapper #lessons ul li a .lesson-text h3 {
  text-align: center;
}

.wrapper #lessons ul li:nth-of-type(2) a img {
  -o-object-position: left;
     object-position: left;
}

.wrapper #lessons ul li:nth-of-type(4) a img {
  -o-object-position: 85%;
     object-position: 85%;
}

footer .sns ul li {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #d9b65b;
  border-radius: 50%;
}

footer .sns ul li a i {
  font-size: 1.5rem;
  color: #fff;
}

footer .sns ul li:nth-of-type(1) {
  top: 35%;
}

footer .sns ul li:nth-of-type(2) {
  top: 42%;
}

footer .sns ul li:nth-of-type(3) {
  top: 49%;
}

footer .side-copy {
  position: fixed;
  top: 50%;
  left: 20px;
  color: #d9b65b;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

footer .footer-content {
  padding: 40px;
  background: #f1f7ef;
}

footer .footer-content .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

footer .footer-content .footer-wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .footer-wrapper .logo img {
  width: 150px;
  margin-right: 20px;
}

footer .footer-content .footer-wrapper .logo .logo-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .footer-content .footer-wrapper .logo .logo-text p, footer .footer-content .footer-wrapper .logo .logo-text h2 {
  color: #588a63;
}

footer .footer-content .footer-wrapper .footer-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-content .footer-wrapper .footer-nav nav ul li {
  width: 50%;
  padding: 10px 0;
}

footer .footer-content .footer-wrapper .footer-nav nav ul li a {
  color: #588a63;
}

footer .bottom-copy {
  display: block;
  padding: 10px;
  text-align: center;
  background: #588a63;
}

footer #to-top {
  position: fixed;
  right: 0;
  bottom: 20%;
  color: #d9b65b;
  font-size: .75rem;
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  pointer-events: none;
  cursor: pointer;
}

footer #to-top.scrolled {
  opacity: 1;
  pointer-events: auto;
}
/*# sourceMappingURL=hoge.css.map */